<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <!-- 404 Error -->
                <div class="p-3 mb-3 bg-danger rounded-3">
                    <div class="container-fluid">
                        <!-- Message -->
                        <h4 class="text-center">Page not found</h4>
                    </div>
                </div>
        </LayoutView>
    </NotFound>
</Router>
